<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">Bài Viết</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 ftco-animate" ng-repeat="model in Blog" ng-show="model.show==true">
                <div class="blog-entry">
                    <a ng-click="ScrollUp()" href="/bai-viet/{{model.id}}" class="block-20 d-flex align-items-end" style="background-image: url({{model.imagePath}});">
                        <div class="meta-date text-center p-2">
                            <span>{{model.dateModified| date : "dd/MM/yyyy HH:mm:ss" }}</span>
                        </div>
                    </a>
                    <div class="text bg-white p-4 ">
                        <h3 class="heading overflow-auto" style="height:100px"><a ng-click="ScrollUp()" href="/bai-viet/{{model.id}}">{{model.subject}}</a></h3>
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a ng-click="ScrollUp()" href="/bai-viet/{{model.id}}" class="btn btn-secondary">Đến Bài Viết<span class="ion-ios-arrow-round-forward"></span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        var scope = angular.element('#System').scope();
        scope.GetListBlogView();
    })
</script>