<section class="home-slider owl-carousel o" id="home"></section>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Configuration/GetListImage",
            dataType: "json",
            data: {
                typeImage: 0,
                isShow: true
            },
            success: function (resp) {
                if (typeof resp !== "undefined") {
                    if (resp.data == null || resp.data.length == 0) {
                        return;
                    }
                    var temp = "";
                    resp.data.forEach(function (item, index) {
                        temp += '<div class="slider-item" style="background-image:url(' + item.picturePath + ');"><div class="overlay"></div><div class="container"><div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true"><div class="col-md-8 text-center ftco-animate"><h1 class="mb-4">' + item.description + '</h1></div></div></div></div>';
                    });
                    $('#home').html(temp);
                    $('#home').owlCarousel({
                        loop: true,
                        autoplay: true,
                        margin: 0,
                        animateOut: 'fadeOut',
                        animateIn: 'fadeIn',
                        nav: false,
                        autoplayHoverPause: false,
                        items: 1,
                        navText: ["<span class='ion-md-arrow-back'></span>", "<span class='ion-chevron-right'></span>"],
                        responsive: {
                            0: {
                                items: 1
                            },
                            600: {
                                items: 1
                            },
                            1000: {
                                items: 1
                            }
                        }
                    });
                }
            }
        })
    })
</script>