<section class="ftco-section testimony-section bg-light" id="wrap-opinion">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Nhận Xét</span> của Phụ Huynh</h2>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel" id="testimony">
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {

        $.ajax({
            url: "/OpinionParent/GetListOpinionParent",
            dataType: "json",
            data: {
                isShow: true
            },
            success: function (resp) {
                
                if (typeof resp !== "undefined") {
                    var temp = "";
                    if (resp.data == null) {
                        $('#wrap-opinion').hide();
                        return;
                    } else {
                        $('#wrap-opinion').show();
                    }
                    resp.data.forEach(function (item, index) {
                        temp += '<div class="item"><div class="testimony-wrap d-flex"><div class="user-img mr-4" style="background-image: url(' + item.imagePath + ')"></div><div class="text ml-2 bg-light"><span class="quote d-flex align-items-center justify-content-center"><i class="icon-quote-left"></i></span><p>' + item.description + '</p> <p class="name">' + item.name+'</p></div></div></div>';
                    });
                    $('#testimony').html(temp);
                    $('#testimony').owlCarousel({
                        autoplay: true,
                        center: true,
                        loop: true,
                        items: 1,
                        margin: 30,
                        stagePadding: 0,
                        nav: false,
                        navText: ['<span class="ion-ios-arrow-back">', '<span class="ion-ios-arrow-forward">'],
                        responsive: {
                            0: {
                                items: 1
                            },
                            600: {
                                items: 1
                            },
                            1000: {
                                items: 2
                            }
                        }
                    });
                }
            }
        })
    })

</script>