<li class="side-nav-title side-nav-item"></li>
<li class="side-nav-item">
    <a href="@Url.Action("Index","User")" class="side-nav-link">
        <i class="dripicons-copy"></i>
        <span>Agent Management</span>
    </a>
</li>
<li class="side-nav-item">
    <a href="@Url.Action("Index","SystemConfigure")" class="side-nav-link">
        <i class="dripicons-briefcase"></i>
        <span>System Configuration</span>
    </a>
</li>
<li class="side-nav-item">
    <a href="@Url.Action("Index","SocialConfigure")" class="side-nav-link">
        <i class="dripicons-photo"></i>
        <span>Social Configuration</span>
    </a>
</li>
<li class="side-nav-item">
    <a href="@Url.Action("Index","FanpageConfigure")" class="side-nav-link">
        <i class="dripicons-user"></i>
        <span>Fanpage Configuration</span>
    </a>
</li>