<nb-card class="col-12 col-md-6">
    <nb-card-body>
        <h5>System Configuration</h5>
        <div class="container mt-4">
            <div class="row">
                <form style="width:100%" *ngIf="frmSC" [formGroup]="frmSC" (ngSubmit)="saveSC()">
                    <nb-tabset fullWidth>
                        <nb-tab tabTitle="Facebook" fullWidth>
                            <div class="form-group">
                                <label for="fbToken" class="label">Facebook Token</label>
                                <input id="fbToken" type="text" nbInput fullWidth formControlName="fbToken" [status]="frmSC.controls.fbToken.errors ? (frmSC.invalid  ? 'danger' : 'success') : ''">
                                <small class="form-text text-danger">{{frmSC.controls.fbToken.errorMessage}}</small>
                            </div>
                            <div class="form-group">
                                <label for="fbUrlApi" class="label">Facebook API</label>
                                <input id="fbUrlApi" type="text" nbInput fullWidth formControlName="fbUrlApi" [status]="frmSC.controls.fbUrlApi.errors ? (frmSC.invalid  ? 'danger' : 'success') : ''">
                                <small class="form-text text-danger">{{frmSC.controls.fbUrlApi.errorMessage}}</small>
                            </div>
                        </nb-tab>
                        <nb-tab tabTitle="Microsoft Service">
                            <div class="form-group">
                                <label for="msEndPoint" class="label">Microsoft EndPoint</label>
                                <input id="msEndPoint" type="text" nbInput fullWidth formControlName="msEndPoint" [status]="frmSC.controls.msEndPoint.errors ? (frmSC.invalid  ? 'danger' : 'success') : ''">
                                <small class="form-text text-danger">{{frmSC.controls.msEndPoint.errorMessage}}</small>
                            </div>
                            <div class="form-group">
                                <label for="msKey" class="label">Microsoft Key</label>
                                <input id="msKey" type="text" nbInput fullWidth formControlName="msKey" [status]="frmSC.controls.msKey.errors ? (frmSC.invalid  ? 'danger' : 'success') : ''">
                                <small class="form-text text-danger">{{frmSC.controls.msKey.errorMessage}}</small>
                            </div>
                        </nb-tab>
                        <nb-tab tabTitle="SMTP">
                            <div class="form-group">
                                <label for="smtpSenderName" class="label">Sender Name</label>
                                <input id="smtpSenderName" type="text" nbInput fullWidth formControlName="smtpSenderName" [status]="frmSC.controls.smtpSenderName.errors ? (frmSC.invalid  ? 'danger' : 'success') : ''">
                                <small class="form-text text-danger">{{frmSC.controls.smtpSenderName.errorMessage}}</small>
                            </div>
                            <div class="form-group">
                                <label for="smtpSender" class="label">User Name</label>
                                <input id="smtpSender" type="text" nbInput fullWidth formControlName="smtpSender" [status]="frmSC.controls.smtpSender.errors ? (frmSC.invalid  ? 'danger' : 'success') : ''">
                                <small class="form-text text-danger">{{frmSC.controls.smtpSender.errorMessage}}</small>
                            </div>
                            <div class="form-group">
                                <label for="smtpPassword" class="label">Password</label>
                                <input id="smtpPassword" type="password" nbInput fullWidth formControlName="smtpPassword" [status]="frmSC.controls.smtpPassword.errors ? (frmSC.invalid  ? 'danger' : 'success') : ''">
                                <small class="form-text text-danger">{{frmSC.controls.smtpPassword.errorMessage}}</small>
                            </div>
                            <div class="form-group">
                                <label for="mailServer" class="label">Mail Server</label>
                                <input id="mailServer" type="text" nbInput fullWidth formControlName="mailServer" [status]="frmSC.controls.mailServer.errors ? (frmSC.invalid  ? 'danger' : 'success') : ''">
                                <small class="form-text text-danger">{{frmSC.controls.mailServer.errorMessage}}</small>
                            </div>
                            <div class="form-group">
                                <label for="smtpPort" class="label">Port</label>
                                <input id="smtpPort" type="text" nbInput fullWidth formControlName="smtpPort" [status]="frmSC.controls.smtpPort.errors ? (frmSC.invalid  ? 'danger' : 'success') : ''">
                                <small class="form-text text-danger">{{frmSC.controls.smtpPort.errorMessage}}</small>
                            </div>
                        </nb-tab>
                    </nb-tabset>
                    <button nbButton [disabled]="!frmSC.valid" status="success" type="submit" size="medium" class="float-right">Save</button>
                </form>
            </div>
        </div>
    </nb-card-body>
</nb-card>