<section class="hero-wrap hero-wrap-2" style="background-image: url('front-end/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Giới Thiệu</h1>
            </div>
        </div>
    </div>
</section>
<div ng-include="WelcomeView"></div>
<div ng-include="AchrimentView"></div>
<div ng-include="OpinionParentView"></div>
<div ng-include="RequestView"></div>
<div ng-show="FooterImage.length>0" ng-include="FooterImageView"></div>
