@model SystemConfigure
    <div class="col-12 col-lg-8">
        <div class="form-group">
            <label asp-for="FBToken" class="control-label"></label>
            <div class="">
                <input asp-for="FBToken" class="form-control" />
                <span asp-validation-for="FBToken" class="unactive"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FBUrlApi" class="control-label"></label>
            <div class="">
                <input asp-for="FBUrlApi" class="form-control" />
                <span asp-validation-for="FBUrlApi" class="unactive"></span>


            </div>
        </div>
    </div>
<script>

</script>