@model SystemConfigure
<div class="col-12 col-lg-8">
    <div class="form-group">
        <label asp-for="FBToken" class="control-label"></label>
        <div class="">
            <input asp-for="FBToken" class="form-control" />
        </div>
    </div>
</div>
<script>

</script>