@model SystemConfigure
<div class="col-12 col-lg-8">
    <div class="form-group">
        <label asp-for="EndPoint" class="control-label"></label>
        <div class="">
            <input asp-for="EndPoint" class="form-control" />
            <span asp-validation-for="EndPoint" class="unactive"></span>
        </div>
    </div>
</div>
<script>

</script>